* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    display: flex;
    height: 1500px;
    width: 100vw;
    flex-direction: column;
    
}
header{
    display: flex;
    color: black;
    position: relative;
    width: 100vw;
    height: 50px;
    padding: 2px;
    background-color: rgb(254, 232, 48);
    background-repeat: no-repeat;
    text-align: center;
    border: solid blue 2px ;  
    
}
main{
    height: 750px;
    width: 100vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img_body.jpg") ;
    background-size: 100vw;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    opacity: 1;
}
#inicio{
    width: 100vw;
    height: 180px;
    padding: 15px;
    line-height: 1.5rem;
    
}
#video{
    width: 1280px;
    height: 720px;
    text-align: center;
}
#curiosidades{
    background-color: rgb(254, 232, 48);
    padding: 15px;
    width: 100vw;
    height: 150px;
    color: black;
}
#imagemh{
    display: flex;
    align-items: center;

}
#formulario{
    background-color:rgb(254, 232, 48) ;
    color: black;
    width: 100vw;
}
img{
     border-radius: 10px;
    width: 45px;
    height: 45px;
    margin-right: 50px;
}

h2{
    text-align: center;
}
footer{
    background-color: blue;
    height: 70px;
    text-align-last: center;
    padding-top: 10px;
}
footer>a>img {
    width: 45px;
    height: 45px;
    margin-left: 5px;
}
fieldset {
    width: 100vw;
    margin: 0% 0% 2% 0%;
    border: 2px blue solid;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    line-height: 1.8rem;
    
   }
   
   legend {
     color: blue;
     font-size: 30px;
     padding: 10px;
     position: absolute; /* reposiciona a tag em relação ao body OU ao ancestral posicionado mais próximo */
     top: -30px;
     background-color: rgb(254, 232, 48);
   }
   button {
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 30px;
  }
  
  #buttons {
    text-align: center;
  }
  

  .campo:hover{
      background-color: #2b90e2; 
      color: white;
      height: 2rem;
  }
  
   